
model/.classpath
model/build.gradle
model/settings.gradle
model/gradle.properties
model/.gradle/
model/.idea/
model/build/
model/gcc/
model/logs/
model/bin/
model/Result_Excel/
model/Result_csv/
*.dat
*.log
*.log
*.iml
*.ipr
*.iws
*.bin
*.lock

model/gradle.properties
model/.settings/org.eclipse.jdt.core.prefs
model/.project
model/.settings/org.eclipse.buildship.core.prefs
model/.settings
